@import url('https://www.dafont.com/es/yay-usa.font');








/*FOOTER*/

.footer {
    background-color: #FCF5E5;
    color: #2EA1DA;
    padding: 10px 10px;
}
.footer__container {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 420px) {
    .footer__container {
      grid-template-columns: repeat(3, 1fr);
    }
}
.footer__container h2 {
    color: #2EA1DA;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: -10px;

}

.footer__container-rrss {
    text-align: center;
}
.footer__container-list li {
    margin: 10px 0;
    text-align: center;
}
.footer__container-list li a {
    color: #3C3D42;
    transition: all 0.3s;
}
.footer__container-list li a:hover {
    color: white ;
}
.footer__container-rrss {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.footer__container-rrss .instagram {
    color: #2EA1DA;
    font-size: 30px;
    transition: all 0.3s;
}
.footer__container .instagram:hover {
    color: black;
}
.footer__container-rrss .whatsapp {
    color: #2EA1DA;
    font-size: 30px;
    transition: all 0.3s;
  }
  .footer__container .whatsapp:hover {
    color: black;
  }