/*ENCABEZADO*/
<<<<<<< HEAD

#header {
    background-color: $background;

    &__container {
        @include templateFlex(row, space-between, true);
        height: 80px;
    }

    &__container-logo {
        justify-self: left;
=======
.header {
    background-color: $background;

    &__container {
        @include templateFlex(right, true, relative);
        height: 80px;
    }

    &-logo {
        @include templateFlex(left, true, relative);
>>>>>>> agregando-sass
    }

}

header nav ul {
    display: none;
}

<<<<<<< HEAD
/*
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
 &__container-logo {
    position: absolute;
    left: 0;
  }
  
  &__container-ul {
    display: flex;
    justify-content: flex-end;
  }
*/
=======
>>>>>>> agregando-sass

@media (min-width: 420px) {
    header nav ul{
        display: flex;
        align-items: center;
    }

    header nav span {
        display: none
    }

}
header nav ul li a:hover{
    text-decoration: underline;
    border-radius: 5px;
    justify-content: right;

}
