/*ENCABEZADO*/
.header {
    background-color: $background;

    &__container {
        @include templateFlex(right, true, relative);
        height: 80px;
    }

    &-logo {
        @include templateFlex(left, true, relative);
    }

}

header nav ul {
    display: none;
}


@media (min-width: 420px) {
    header nav ul{
        display: flex;
        align-items: center;
    }

    header nav span {
        display: none
    }

}
header nav ul li a:hover{
    text-decoration: underline;
    border-radius: 5px;
    justify-content: right;

}
