/*ESTILOS INICIALES*/
:root {
    --clr-main: #F2DCC2;
    --clr-white: #F2F2F2;
    --clr-black: #0D0D0D;
    --clr-brown: #BF9B6F;
    --clr-fondo: #F2DCC2;
}

body {
    font-family: 'Gotham', sans-serif;
}

h1, h2, h3 {
    font-family: 'Gotham';
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}


@mixin templateFlex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;

    @if ($align == true) {
        align-items: center;
    }
}
