// COLORES

$background: #FCF5E5;
$fontlight: #FCF5E5;
$fontdark: #3C3D42;
$fontcolor: #2EA1DA;
$bgButton: #ffffff5e;
$borderButton: #f2f2f2a2;

// BREAKPOINTS

$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

// DEFAULT
$borderRadius: 10px;
$boxShadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
$transition: all 0.3s;